# IDE - Webstorm
*.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Windows:
[Tt]humbs.db
Desktop.ini
.DS_Store
$RECYCLE.BIN/
